/* ==========================================
                CONTACT US SECTION
   ========================================== */
.contact-us {
   display: flex;
   flex-direction: column;

   background-color: var(--soft-violet);
   padding: 5%;
   border-radius: 8px;
   width: 500px;
}
.contact-us-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 3%;
   padding: 2%;
   background-color: var(--warm-beige);
   border-radius: 8px;
}

.left-flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 60%;
   padding-top: 6rem;
}

.left-flex p {
   font-size: 1.3rem;
   text-align: justify;
   display: inline-block;
}

.left-flex span {
   font-size: 1.3rem;
   color: var(--text-primary);
   cursor: pointer;
}
.phone-icon-text {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   font-size: 1.3rem;
}
.icon-text a {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   font-size: 1.3rem;
   cursor: pointer;
}

.socmed-icons {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 2%;
   align-content: center;
   justify-self: center;
}

.socmed-img {
   display: flex;
   gap: 20px;
   padding: 2%;
   align-content: center;
   justify-self: center;
}

.input-contact {
   padding-top: 8rem;
}

@media (max-width: 1200px) {
   .contact-us-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .input-contact {
      padding-top: 0.5rem;
   }
   .left-flex {
      width: 85%;
   }
}

@media (max-width: 900px) {
   .socmed-img {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 2%;
      align-content: center;
      justify-self: center;
   }
   .left-flex p {
      text-align: unset;
   }
}

@media (max-width: 600px) {
   .contact-us {
      width: 300px;
   }
}

@media (max-width: 400px) {
   .contact-us {
      width: 250px;
   }
}
