h2 {
   color: var(--dark-blue);
   text-shadow: none;
   font-size: 50px;
}

@keyframes appear {
   from {
      opacity: 0;
      transform: translateY(20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
.fade-in {
   animation: appear linear;
   animation-timeline: view();
   animation-range: entry 0% cover 30%;
}

.fade-in-top {
   opacity: 0;
   animation: appear 1s ease-out forwards;
   animation-delay: 0.2s;
}
.about-container {
   padding-top: 5rem;
}
/* ==========================================
                ABOUT SECTION
   ========================================== */
.about-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1%;
   border: 0px;
   gap: 1px;
}

.about-section h1 {
   font-size: 2.3rem;
   font-weight: 900;
   margin-bottom: 0.5rem;
   color: var(--healing-coral);
   text-align: center;
   text-shadow: 0 0 20px rgba(255, 127, 127, 0.5), 0 4px 8px rgba(0, 0, 0, 0.1);
   letter-spacing: 3px;
   position: relative;
}

.about-section h1::after {
   position: absolute;
   bottom: -10px;
   left: 50%;
}

.about-rectangle {
   width: 200px;
   height: 5px;
   background: linear-gradient(90deg, transparent, var(--soft-violet), transparent);
   margin: 10px auto;
   border-radius: 5px;
}

.about-section p {
   text-align: justify;
}

.about-p {
   margin: 2%;
}
/* ==========================================
                FOUNDER SECTION
   ========================================== */

.div-rectangle {
   width: 200px;
   height: 5px;
   background: linear-gradient(90deg, transparent, var(--healing-coral), transparent);
   margin: 10px auto;
   border-radius: 5px;
}

.founder-container {
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 2%;
   background-color: var(--soft-violet);
   border-radius: 30px;
   gap: 2%;
}

.founder-container img {
   width: 400px;
   height: auto;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
}

.founder-container h2 {
   padding-top: 2%;
   text-align: center;
   font-weight: bold;
}
.founder-container h3 {
   text-align: center;
   font-weight: bold;
   padding: 0%;
}

.founder-text {
   background: var(--warm-beige);
   border: 1px solid #e0e0e0;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
}
.founder-text p {
   padding: 0% 4%;
   text-align: justify;
}
.text-scroll {
   max-height: 475px;
   overflow-y: auto;
   overflow-x: hidden;
   border-radius: 10px;
   padding: 0.5rem;
   line-height: 1;
   scrollbar-width: thick;
   scrollbar-color: rgb(255, 134, 97) var(--warm-beige);
}

/* ==========================================
                INTERNS SECTION
   ========================================== */

.interns-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   grid-auto-flow: row;
   gap: 10px;
   margin-bottom: 0.5%;
   padding: 0;
}

.interns-container ul {
   list-style: none;
}

.interns-container img {
   max-width: 100%;
   display: block;
   align-items: center;
}

.interns-container h1 {
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

.interns-container h2 {
   font-size: 17.5px;
   font-weight: bold;
}

/*Responsiveness*/
@media (max-width: 1200px) {
}

@media (max-width: 900px) {
   .about-section {
      flex-direction: column;
   }

   .about-section img {
      width: 45%;
      max-width: 100%;
      height: auto;
   }
   .founder-container {
      flex-direction: column;
      gap: 20px;
   }
   .interns-container h1 {
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
   }
}

@media (max-width: 600px) {
   .founder-container img {
      width: 300px;
      border-radius: 20px;
   }
   .founder-text {
      border-radius: 25px;
   }
}

@media (max-width: 400px) {
   .fade-in {
      animation-range: entry 0% cover 10%;
   }
}
