.faq-container {
   padding-top: 8rem;
   background: radial-gradient(circle, rgba(110, 211, 255, 1) 0%, rgba(255, 127, 127, 1) 100%);
}

/* ==========================================
                CONTACT US SECTION
   ========================================== */

.contact-us {
   display: flex;
   flex-direction: column;

   background-color: var(--soft-violet);
   padding: 5%;
   border-radius: 8px;
   width: 100%;
}
.contact-us-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 4%;
   padding: 3%;
   background-color: var(--warm-beige);
   border-radius: 8px;

   /* animation*/
   opacity: 0;
   animation: appear 1s ease-out forwards;
   animation-delay: 0.2s;
}

.left-flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 60%;
}

.left-flex p {
   font-size: 1.3rem;
   text-align: justify;
   display: inline-block;
}

.left-flex span {
   font-size: 1.3rem;
   color: var(--text-primary);
   cursor: pointer;
}

.socmed-icons {
   display: flex;
   flex-direction: row;
   gap: 20px;
   padding: 2%;
   align-content: center;
   justify-self: center;
}
