.privacy-section {
   margin-top: 7rem;
}

.privacy-container {
   padding: 0% 5% 1% 5%;
}

.privacy-list {
   padding: 1% 5%;
}

ul {
   list-style-type: disc;
}

ol {
   list-style-type: decimal;
}
