.intern-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 250px;
   margin: 20px;
   width: 100%;
}
.intern-section h1 {
   width: 100%;
   margin: 0;
   padding: 0;
   text-align: center;
   box-sizing: border-box;
}
.interns-list {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding: 10px;
   width: 100%;
   box-sizing: border-box;
}

.interns-row {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   box-sizing: border-box;
   width: 100%;
   gap: 60px;
}
.intern-card {
   text-align: center;
   border-radius: 8px;
   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 200px;
   gap: 8px;
}

.intern-image {
   width: 200px;
   max-width: 100%;
   height: 300px;
   max-height: 100%;
   cursor: pointer;
   border-radius: 8px;
   object-fit: cover;
   transition: transform 0.3s;
   padding-top: 2%;
}

.intern-image:hover {
   transform: scale(1.05);
}

/* Modal Styling */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.modal-content {
   background: var(--section-bg);
   padding: 10px;
   border-radius: 8px;
   width: 90vw;
   height: 80vh;
   overflow: auto;
   text-align: center;
   box-sizing: border-box;
   position: relative;
   display: flex;
   align-items: flex-start;
   gap: 20px;
}

.modal-image {
   width: 100%;
   height: auto;
   border-radius: 8px;
}

.close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   border: none;
   background: transparent;
   font-size: 20px;
   cursor: pointer;
}

/*Responsiveness*/
@media (max-width: 1200px) {
   .interns-row {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (max-width: 900px) {
   .interns-row {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (max-width: 600px) {
   .interns-row {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 400px) {
   .interns-row {
      grid-template-columns: 1fr;
   }
}
