.fade-in {
   animation: appear linear;
   animation-timeline: view();
   animation-range: entry 0% cover 20%;
}

.accordion-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.accordion-button {
   background: transparent;
   border: none;
   width: 100%;
   text-align: left;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-color: var(--soft-violet);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

   /* animation*/
   animation: appear linear;
   animation-timeline: view();
   animation-range: entry 0% cover 20%;
}

.accordian-block {
   padding-top: 3%;
   display: flex;
   justify-content: space-between;
   align-self: center;
}

.questions {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: left;
   background-color: var(--white);
   box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
}

.questions-header {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.questions-header h3 {
   text-align: center;
}
.div-rectangle {
   margin-bottom: 2%;
}
.questions h3 {
   margin: 1%;
   color: var(--text-primary);
   font-weight: bold;
}

.answer {
   overflow: hidden;
   text-align: left;
   transition: max-height 0.3s ease-out;
   max-height: 0;
   background-color: var(--white);
   color: var(--text-primary);
   padding: 1%;
}

.answer p {
   padding: 1%;
   font-size: 1.2rem;
}

.answer.open {
   padding: 2%;
   max-height: 500px;
   transition: max-height 0.3s ease-out;
}

.answer-style {
   padding: 1%;
   font-size: 1.2rem;
}
