.questions-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin: 20px;
   align-items: center;
}

.questions-header-button {
   display: flex;
   width: 100%;
   align-items: center;
}

.questions-header-button h1 {
   width: 100%;
}

.opencollapse-container {
   display: flex;
   align-items: center;
   justify-content: end;
   width: 100%;
}

.opencollapse-button {
   display: flex;
   align-items: center;
   margin-right: 3px;
   background-color: var(--healing-coral);
   padding: 1%;
   border-radius: 8px;
   width: 150px;
}

.opencollapse-button span {
   color: var(--white);
   width: 100%;
   font-weight: bold;
   font-size: 1rem;
   margin: 0.5rem;
}

.rotate {
   transition: all 0.5s ease-in-out;
}

.questions-open {
   width: 100%;
}

@media (max-width: 1200px) {
   .opencollapse-container {
      justify-content: end;
   }
   .questions-header-button h1 {
      width: 150%;
      font-size: 2.5rem;
   }
}

@media (max-width: 900px) {
   .questions-header-button h1 {
      width: 150%;
      font-size: 2rem;
   }
}
