/* Global App Styles */
.Layout {
   min-height: 100vh;
   margin-top: 0.5rem;
}

/* Navigation Styles */
.nav {
   background-image: linear-gradient(to bottom, var(--nav-bg), rgba(255, 0, 0, 0));
   backdrop-filter: blur(150px);
   padding: 5rem 0;
   display: flex;
   gap: 4rem;
   justify-content: center;
   height: 90px;

   /* stay fixed on top of screen*/
   position: fixed;
   overflow: hidden;
   top: 0;
   width: 100%;
   z-index: 1000;
   transition: background-image 0.4s ease;
}

.nav a {
   height: 35px;
   color: var(--text-primary);
   text-decoration: none;
   font-weight: 500;
   font-size: 1.4rem;
   padding: 1.5rem 2rem;
   border-radius: 12px;
   transition: all 0.3s ease;
   letter-spacing: 1px;
   font-weight: 600;

   display: flex;
   align-items: center;
   justify-content: center;
   height: 85%;
}

.nav a:hover {
   transform: scale(0.85);
   background: var(--coral-alpha-15);
}
