/* About Page Styles */
/* ==========================================
                ABOUT SECTION
   ========================================== */
.about-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1%;
}

/* ==========================================
                CONTACT US SECTION
   ========================================== */
.message-box {
   width: 100%;
   max-width: 600px;
   max-height: 300px;
   padding: 12px;
   font-size: 16px;
   resize: vertical;
   box-sizing: border-box;
}
/* ==========================================
                FOUNDER SECTION
   ========================================== */
.founder-container {
   display: flex;
   align-items: center;
   gap: 20px;

   padding: 2%;
}

/* ==========================================
                INTERNS SECTION
   ========================================== */
.interns-container {
   margin: 2%;
}

.interns-container ul {
   list-style: none;
}

.interns-container li {
   display: flex;
   flex-direction: column;

   overflow: hidden;
   align-items: center;
   justify-items: center;
}

.interns-container img {
   max-width: 100%;
   display: block;
   padding: 4%;
   padding-left: 5%;
   text-align: center;
}

.interns-container h2 {
   font-size: 15px;
}

.intern-group {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   grid-auto-flow: row;
   gap: 20px;
   margin-bottom: 5%;
}
