/* About Page Styles */
.interns-container {
   margin: 2%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   grid-auto-flow: row;
   gap: 20px;
}

.interns-container ul {
   list-style: none;
}

.interns-container li {
   display: flex;
   flex-direction: column;

   overflow: hidden;
   align-items: center;
   justify-items: center;
}

.interns-container img {
   max-width: 100%;
   display: block;
   padding: 4%;
   padding-left: 5%;
   text-align: center;
}

.interns-container h2 {
   font-size: 15px;
}
