h2 {
   color: var(--dark-blue);
   text-shadow: none;
   font-size: 50px;
}
/* ==========================================
                ABOUT SECTION
   ========================================== */
.about-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1%;
   border: 0px;
   padding-top: 2rem;
}

/* ==========================================
                CONTACT US SECTION
   ========================================== */

.contact-us-section {
   background: radial-gradient(circle, rgba(110, 211, 255, 1) 0%, rgba(255, 127, 127, 1) 100%);
}

.contact-us {
   display: flex;
   flex-direction: column;
   padding: 2%;
   border: none;
   max-width: 600px;
   width: 100%;
}
.contact-us-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5%;
   padding: 2%;
   border: none;
   align-content: center;
   justify-self: center;
}

.socmed-icons {
   display: flex;
   flex-direction: row;
   gap: 20px;
   padding: 2%;
   border: none;
   align-content: center;
   justify-self: center;
}

/* ==========================================
                FOUNDER SECTION
   ========================================== */
.founder-container {
   display: flex;
   align-items: center;
   gap: 20px;

   padding: 2%;
}

/* ==========================================
                INTERNS SECTION
   ========================================== */
.interns {
   background: radial-gradient(circle at 20% 80%, var(--sky-blue-30) 0%, transparent 50%);
}

.interns-container {
   margin: 2%;
}

.interns-container ul {
   list-style: none;
}

.interns-container li {
   display: flex;
   flex-direction: column;

   overflow: hidden;
   align-items: center;
   justify-items: center;
}

.interns-container img {
   max-width: 100%;
   display: block;
   padding: 4%;
   padding-left: 5%;
   text-align: center;
}

.interns-container h2 {
   font-size: 17.5px;
   font-weight: bold;
}

.intern-group {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   grid-auto-flow: row;
   gap: 20px;
   margin-bottom: 5%;
}
