.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.modal-content {
   background: var(--section-bg);
   padding: 10px;
   border-radius: 8px;
   width: 90vw;
   height: 80vh;
   overflow: auto;
   text-align: center;
   box-sizing: border-box;
   position: relative;
   display: flex;
   align-items: flex-start;
   gap: 20px;
}

.modal.show {
   opacity: 1;
}
.close-button {
   position: absolute;
   top: -100px;
   right: 30px;
   font-size: 500px;
   cursor: pointer;
   color: var(--dark-blue);
   opacity: 1;
}

.modal-content img {
   width: 300px;
   max-width: 100%;
   border-radius: 8px;
   object-fit: cover;
   height: 400px;
   max-height: 100%;
}

.modal-text {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 100px;
   margin-top: 5%;
}

.modal-text h2 {
   margin: 0;
   font-size: 30px;
   font-weight: bolder;
}

.modal-text h3 {
   margin-top: 5px;
   padding-bottom: 2%;

   font-weight: normal;
   font-size: 25px;
}

.modal-text p {
   margin-top: 5px;
   line-height: 1.6;
   margin-right: 2%;
   font-weight: bold;
   padding-bottom: 1%;
}

.internDescription {
   font-size: 18px;
   padding-right: 3%;
   padding-bottom: 3%;
}
