.nav-bar {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.about-section {
   display: flex;
   flex-direction: row;
}
.contact-us {
   display: flex;
}
.founder {
   display: flex;
}
.interns {
   display: flex;
}
.contributors-partners {
   display: flex;
}
