/* Global App Styles */
.App {
   min-height: 100vh;
   margin-top: 0.5rem;
}

/* Navigation Styles */
.nav {
   background-image: linear-gradient(to bottom, var(--nav-bg), rgba(255, 0, 0, 0));
   backdrop-filter: blur(25px);
   padding: 2rem 0;
   display: flex;
   gap: 4rem;
   justify-content: center;

   /* stay fixed on top of screen*/
   position: fixed;
   overflow: hidden;
   top: 0;
   width: 100%;
   z-index: 1000;
   transition: background-image 0.4s ease;
}

.nav a {
   color: var(--text-white);
   text-decoration: none;
   font-weight: 500;
   font-size: 1.2rem;
   padding: 0.8rem 1.5rem;
   border-radius: 12px;
   transition: all 0.4s ease;
   letter-spacing: 1px;
   font-weight: 600;
}

.nav a:hover {
   background: var(--coral-alpha-15);
}
